<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Site.BaseURL }}">
    <link rel='stylesheet' type='text/css' href='/style.css'>
    <link rel="icon" type="image/x-icon" href="/favicon.webp">
    <meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
    {{ block "header" . }}
    {{ .Content }}
    {{ end }}
  </head>
  <body>
    <script type="text/javascript" src="/index.js"></script>
    <div class="navbar">
      <div class="navbar-left">
        <img alt="Logo" title="Logo" src="/icon.webp" />
        <h1>Lxc Hub</h1>
      </div>
      <div class="navbar-center">
        <input id="search" type="text" placeholder="Search..">
      </div>
      <div class="navbar-right">
        <a href="https://gitlab.com/Paul-Chambaz/lxc-hub">git</a>
      </div>
    </div>
    <script>
      searchbar()
    </script>
    <div class="sidebar">
      <ul>
        <li class="side-item">
          <div id="si0">
            <h1>Official</h1>
            <button onclick="selectFilter(0)">
              <svg alt="selected" width="100px" height="100px" viewBox="0 0 100 100">
                <title>Selected</title>
                <line x1="31" y1="52" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                <line x1="68" y1="34" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
              </svg>
            </button>
          </div>
        </li>
        <li>
          <h1>Distribution</h1>
          <ul>
            <li class="side-item">
              <div id="si1">
                <h2>AlmaLinux</h2>
                <button onclick="selectFilter(1)">
                  <svg alt="selected" width="100px" height="100px" viewBox="0 0 100 100">
                    <title>Selected</title>
                    <line x1="31" y1="52" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                    <line x1="68" y1="34" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                  </svg>
                </button>
              </div>
            </li>
            <li class="side-item">
              <div id="si2">
                <h2>Alpine Linux</h2>
                <button onclick="selectFilter(2)">
                  <svg alt="selected" width="100px" height="100px" viewBox="0 0 100 100">
                    <title>Selected</title>
                    <line x1="31" y1="52" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                    <line x1="68" y1="34" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                  </svg>
                </button>
              </div>
            </li>
            <li class="side-item">
              <div id="si3">
                <h2>ALT Linux</h2>
                <button onclick="selectFilter(3)">
                  <svg alt="selected" width="100px" height="100px" viewBox="0 0 100 100">
                    <title>Selected</title>
                    <line x1="31" y1="52" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                    <line x1="68" y1="34" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                  </svg>
                </button>
              </div>
            </li>
            <li class="side-item">
              <div id="si4">
                <h2>Amazon Linux</h2>
                <button onclick="selectFilter(4)">
                  <svg alt="selected" width="100px" height="100px" viewBox="0 0 100 100">
                    <title>Selected</title>
                    <line x1="31" y1="52" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                    <line x1="68" y1="34" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                  </svg>
                </button>
              </div>
            </li>
            <li class="side-item">
              <div id="si5">
                <h2>Apertis</h2>
                <button onclick="selectFilter(5)">
                  <svg alt="selected" width="100px" height="100px" viewBox="0 0 100 100">
                    <title>Selected</title>
                    <line x1="31" y1="52" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                    <line x1="68" y1="34" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                  </svg>
                </button>
              </div>
            </li>
            <li class="side-item">
              <div id="si6">
                <h2>Arch Linux</h2>
                <button onclick="selectFilter(6)">
                  <svg alt="selected" width="100px" height="100px" viewBox="0 0 100 100">
                    <title>Selected</title>
                    <line x1="31" y1="52" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                    <line x1="68" y1="34" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                  </svg>
                </button>
              </div>
            </li>
            <li class="side-item">
              <div id="si7">
                <h2>Busybox</h2>
                <button onclick="selectFilter(7)">
                  <svg alt="selected" width="100px" height="100px" viewBox="0 0 100 100">
                    <title>Selected</title>
                    <line x1="31" y1="52" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                    <line x1="68" y1="34" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                  </svg>
                </button>
              </div>
            </li>
            <li class="side-item">
              <div id="si8">
                <h2>CentOS</h2>
                <button onclick="selectFilter(8)">
                  <svg alt="selected" width="100px" height="100px" viewBox="0 0 100 100">
                    <title>Selected</title>
                    <line x1="31" y1="52" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                    <line x1="68" y1="34" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                  </svg>
                </button>
              </div>
            </li>
            <li class="side-item">
              <div id="si9">
                <h2>Debian</h2>
                <button onclick="selectFilter(9)">
                  <svg alt="selected" width="100px" height="100px" viewBox="0 0 100 100">
                    <title>Selected</title>
                    <line x1="31" y1="52" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                    <line x1="68" y1="34" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                  </svg>
                </button>
              </div>
            </li>
            <li class="side-item">
              <div id="si10">
                <h2>Devuan</h2>
                <button onclick="selectFilter(10)">
                  <svg alt="selected" width="100px" height="100px" viewBox="0 0 100 100">
                    <title>Selected</title>
                    <line x1="31" y1="52" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                    <line x1="68" y1="34" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                  </svg>
                </button>
              </div>
            </li>
            <li class="side-item">
              <div id="si11">
                <h2>Fedora Linux</h2>
                <button onclick="selectFilter(11)">
                  <svg alt="selected" width="100px" height="100px" viewBox="0 0 100 100">
                    <title>Selected</title>
                    <line x1="31" y1="52" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                    <line x1="68" y1="34" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                  </svg>
                </button>
              </div>
            </li>
            <li class="side-item">
              <div id="si12">
                <h2>Funtoo Linux</h2>
                <button onclick="selectFilter(12)">
                  <svg alt="selected" width="100px" height="100px" viewBox="0 0 100 100">
                    <title>Selected</title>
                    <line x1="31" y1="52" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                    <line x1="68" y1="34" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                  </svg>
                </button>
              </div>
            </li>
            <li class="side-item">
              <div id="si13">
                <h2>Kali Linux</h2>
                <button onclick="selectFilter(13)">
                  <svg alt="selected" width="100px" height="100px" viewBox="0 0 100 100">
                    <title>Selected</title>
                    <line x1="31" y1="52" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                    <line x1="68" y1="34" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                  </svg>
                </button>
              </div>
            </li>
            <li class="side-item">
              <div id="si14">
                <h2>Linux Mint</h2>
                <button onclick="selectFilter(14)">
                  <svg alt="selected" width="100px" height="100px" viewBox="0 0 100 100">
                    <title>Selected</title>
                    <line x1="31" y1="52" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                    <line x1="68" y1="34" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                  </svg>
                </button>
              </div>
            </li>
            <li class="side-item">
              <div id="si15">
                <h2>OpenSUSE</h2>
                <button onclick="selectFilter(15)">
                  <svg alt="selected" width="100px" height="100px" viewBox="0 0 100 100">
                    <title>Selected</title>
                    <line x1="31" y1="52" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                    <line x1="68" y1="34" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                  </svg>
                </button>
              </div>
            </li>
            <li class="side-item">
              <div id="si16">
                <h2>OpenWRT</h2>
                <button onclick="selectFilter(16)">
                  <svg alt="selected" width="100px" height="100px" viewBox="0 0 100 100">
                    <title>Selected</title>
                    <line x1="31" y1="52" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                    <line x1="68" y1="34" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                  </svg>
                </button>
              </div>
            </li>
            <li class="side-item">
              <div id="si17">
                <h2>Oracle Linux</h2>
                <button onclick="selectFilter(17)">
                  <svg alt="selected" width="100px" height="100px" viewBox="0 0 100 100">
                    <title>Selected</title>
                    <line x1="31" y1="52" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                    <line x1="68" y1="34" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                  </svg>
                </button>
              </div>
            </li>
            <li class="side-item">
              <div id="si18">
                <h2>Plamo Linux</h2>
                <button onclick="selectFilter(18)">
                  <svg alt="selected" width="100px" height="100px" viewBox="0 0 100 100">
                    <title>Selected</title>
                    <line x1="31" y1="52" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                    <line x1="68" y1="34" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                  </svg>
                </button>
              </div>
            </li>
            <li class="side-item">
              <div id="si19">
                <h2>PLD Linux</h2>
                <button onclick="selectFilter(19)">
                  <svg alt="selected" width="100px" height="100px" viewBox="0 0 100 100">
                    <title>Selected</title>
                    <line x1="31" y1="52" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                    <line x1="68" y1="34" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                  </svg>
                </button>
              </div>
            </li>
            <li class="side-item">
              <div id="si20">
                <h2>Rocky Linux</h2>
                <button onclick="selectFilter(20)">
                  <svg alt="selected" width="100px" height="100px" viewBox="0 0 100 100">
                    <title>Selected</title>
                    <line x1="31" y1="52" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                    <line x1="68" y1="34" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                  </svg>
                </button>
              </div>
            </li>
            <li class="side-item">
              <div id="si21">
                <h2>Springdale Linux</h2>
                <button onclick="selectFilter(21)">
                  <svg alt="selected" width="100px" height="100px" viewBox="0 0 100 100">
                    <title>Selected</title>
                    <line x1="31" y1="52" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                    <line x1="68" y1="34" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                  </svg>
                </button>
              </div>
            </li>
            <li class="side-item">
              <div id="si22">
                <h2>Ubuntu</h2>
                <button onclick="selectFilter(22)">
                  <svg alt="selected" width="100px" height="100px" viewBox="0 0 100 100">
                    <title>Selected</title>
                    <line x1="31" y1="52" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                    <line x1="68" y1="34" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                  </svg>
                </button>
              </div>
            </li>
            <li class="side-item">
              <div id="si23">
                <h2>Void Linux</h2>
                <button onclick="selectFilter(23)">
                  <svg alt="selected" width="100px" height="100px" viewBox="0 0 100 100">
                    <title>Selected</title>
                    <line x1="31" y1="52" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                    <line x1="68" y1="34" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                  </svg>
                </button>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <h1>Category</h1>
          <ul>
            <li class="side-item">
              <div id="si24">
                <h2>Entertainment</h2>
                <button onclick="selectFilter(24)">
                  <svg alt="selected" width="100px" height="100px" viewBox="0 0 100 100">
                    <title>Selected</title>
                    <line x1="31" y1="52" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                    <line x1="68" y1="34" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                  </svg>
                </button>
              </div>
            </li>
            <li class="side-item">
              <div id="si25">
                <h2>System</h2>
                <button onclick="selectFilter(25)">
                  <svg alt="selected" width="100px" height="100px" viewBox="0 0 100 100">
                    <title>Selected</title>
                    <line x1="31" y1="52" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                    <line x1="68" y1="34" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                  </svg>
                </button>
              </div>
            </li>
          </ul>
        </li>
        <ul>
    </div>

    <div class="main">
      <div class="main-description">
        <p>1-2 of 2 results available</p>
      </div>
      <ul>
        {{- range $id, $pages := .Data.Pages }}
        <div class="container">
          <li class="hide">
            <div class="container-left">
              <div class="container-title">
                <h1>{{ .Title }}</h1>
                <p>v{{ .Params.version }}</p>
                {{ if eq .Params.official true }}
                <svg alt="official" width="100px" height="100px" viewBox="0 0 100 100">
                  <title>Official</title>
                  <circle cx="50" cy="50" r="48" fill="#2da44e" />
                  <line x1="31" y1="52" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                  <line x1="68" y1="34" x2="48" y2="69" style="stroke:#fff;stroke-width:8;stroke-linecap:round;"/>
                </svg>
                {{ end }}
              </div>
              <div class="container-lastmod">
                Updated
                <script>
                  document.write(timeago({{ .Params.lastmod.UnixMilli }}))
                </script>
              </div>
              <div class="container-description">
                {{ .Params.description }}
              </div>
              <ul class="tag-list">
                <li class="tag-list">{{ .Params.distribution | title }}</li>
                <li class="tag-list">{{ .Params.release | title }}</li>
                <li class="tag-list">{{ .Params.architecture }}</li>
                {{ range $tag := .Params.Category }}
                <li class="tag-list">{{ $tag | title }}</li>
                {{ end }}
              </ul>
            </div>
            <div class="container-right">
              <div class="container-stat">
                <div class="container-download">
                  <p>
                  <script>
                    document.write(formatNumber({{ .Params.downloads }}))
                  </script>
                  </p>
                  <svg alt="official" width="100px" height="100px" viewBox="0 0 100 100">
                    <title>Downloads</title>
                    <polygon points="50,95 10,55 35,55 35,15 65,15 65,55 90,55" />
                  </svg>
                </div>
              </div>
              <div class="container-copy">
                <button id="btncopy{{ $id }}" onclick="copyToClipboard({{ .Params.repository }}, 'btncopy{{ $id }}')">Copy repo</button>
              </div>
            </div>
        </div>
        </li>
        {{- end }}
      </ul>
    </div>
  </body>
</html>
