body {
	background-color: #fff;
	margin: 0;
	font-family: Helvetica
}

.navbar {
	display: flex;
	box-shadow: 0 0 10px #00000033;
	padding-top: .5em;
	padding-bottom: .5em;
	flex-direction: row;
	justify-content: space-between
}

.navbar .navbar-left {
	display: flex;
	flex-direction: row;
	margin-left: 8%;
	justify-content: flex-start;
	gap: 1em
}

.navbar .navbar-center {
	display: flex;
	flex-direction: row;
	width: 40%;
	justify-content: center
}

.navbar .navbar-right {
	display: flex;
	flex-direction: row;
	margin-right: 8%;
	gap: 1em;
	justify-content: flex-end
}

.navbar img {
	display: inline-block;
	height: 3em;
	align-self: center
}

.navbar h1 {
	display: inline-block;
	color: #222;
	font-size: 2.5em;
	margin: 0;
	padding-top: .2em;
	align-self: center
}

.navbar a {
	display: inline-block;
	font-weight: bold;
	font-size: 1.5em;
	margin: 0;
	padding-top: .2em;
	align-self: center;
	color: #222;
	text-decoration: none
}

.navbar a:hover {
	text-decoration: underline
}

.navbar input {
	display: inline-block;
	font-weight: bold;
	color: #222;
	font-size: .9em;
	width: 100%;
	height: 2.5em;
	border-radius: 1.5em;
	border: solid 2px #eee;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: .2em;
	padding-bottom: .2em;
	align-self: center;
	box-shadow: 0 0 1em #00000011
}

.navbar input:focus {
	outline: 0;
	color: #222;
	border: solid 2px #4995e044
}

.sidebar {
	display: inline-block;
	width: 15%;
	margin-left: 10%;
	float: left
}

@media(max-width:1026px) {
	.sidebar {
		display: none
	}
}

.sidebar ul {
	list-style-type: none;
	padding-left: 3em
}

.sidebar ul ul {
	padding-left: 1em
}

.sidebar li.side-item {
	width: 100%
}

.sidebar li.side-item div {
	display: flex;
	width: 100%;
	margin-top: .5em;
	margin-bottom: .5em;
	justify-content: space-between
}

.sidebar h1 {
	font-size: 1.2em;
	padding-top: .2em
}

.sidebar h2 {
	display: inline-block;
	font-weight: normal;
	font-size: 1em;
	margin: 0;
	align-self: center;
	padding-top: .2em
}

.sidebar button {
	display: inline-block;
	background-color: #fff;
	width: 1.3em;
	height: 1.3em;
	margin: 0;
	border-radius: .2em;
	border: solid 1px #bbb;
	float: right;
	align-self: center
}

.sidebar button svg {
	display: none;
	margin: 0;
	width: 1.3em;
	height: 1.3em;
	position: relative;
	right: .3em;
	bottom: .05em
}

.sidebar button:hover {
	background-color: #eee
}

.sidebar button:active {
	background-color: #ddd
}

.sidebar li.side-item div.selected button {
	background-color: #086dd7;
	border: 0
}

.sidebar li.side-item div.selected button svg {
	display: block
}

.sidebar li.side-item div.selected button:hover {
	background-color: #0565c9
}

.sidebar li.side-item div.selected button:active {
	background-color: #0057b3
}

.main {
	display: inline-block;
	float: right;
	margin-right: 10%;
	width: 65%
}

@media(max-width:1026px) {
	.main {
		width: 80%
	}
}

.main-description {
	display: inline-block;
	margin-top: 2em;
	margin-left: 16%;
	margin-right: 16%;
	width: 65%
}

.main-description p {
	text-align: left;
	margin: 0
}

.main ul {
	padding: 0;
	list-style-type: none;
	width: 100%;
	text-align: center;
	margin: 0
}

.main li {
	display: inline-block;
	width: 65%;
	padding: 1em;
	margin-top: 1em;
	text-align: left;
	background-color: #fff;
	box-shadow: .1em .2em 1em #00000022;
	border-radius: .5em
}

.main li.hide {
  /* display: none; */
}

.main li .container-left {
	display: inline-block;
	width: 75%;
	text-align: left;
	float: left
}

.main li .container-right {
	display: inline-block;
	width: 25%;
	height: 8.45em;
	text-align: right;
	float: right;
	position: relative
}

.main li .container-title {
	display: flex;
	gap: .6em;
	height: 100%
}

.main li .container-title h1 {
	display: block;
	margin: 0;
	font-size: 1.8em;
	padding-top: .2em;
	align-self: flex-end
}

.main li .container-title p {
	display: block;
	margin: 0;
	font-size: 1.1em;
	padding-bottom: .2em;
	align-self: flex-end
}

.main li .container-title svg {
	display: block;
	width: 1.1em;
	height: 1.1em;
	align-self: center
}

.main li .container-lastmod {
	color: #666;
	font-size: .9em
}

.main li .container-description {
	margin-top: .8em;
	margin-bottom: .8em;
	font-size: 1.1em
}

.main li .container-stat {
	position: absolute;
	bottom: 0;
	right: 0
}

.main li .container-copy {
	font-weight: bold
}

.main li a {
	color: #111;
	text-decoration: none
}

.main li .container-copy button {
	color: #fff;
	font-size: 1em;
	background-color: #2da44e;
	padding-left: .8em;
	padding-right: .8em;
	padding-top: .4em;
	padding-bottom: .4em;
	border-radius: .6em;
	border: 0
}

.main li .container-copy button:hover {
	background-color: #2c984b !important
}

.main li .container-copy button:active {
	background-color: #298f46 !important
}

.main li ul.tag-list {
	text-align: left;
	margin: 0;
	padding: 0
}

.main li li.tag-list {
	width: auto;
	box-shadow: none;
	display: inline-block;
	font-size: .9em;
	padding-left: .6em;
	padding-right: .6em;
	padding-top: .5em;
	padding-bottom: .3em;
	margin-top: 0;
	margin-right: .4em;
	border-radius: .5em;
	background-color: #ddd
}

.main li .container-stat svg {
	align-self: center;
	padding-bottom: .1em;
	stroke-width: 6;
	stroke-linecap: round
}

.main li .container-download svg {
	width: 1.3em;
	height: 1.3em;
	fill: #222;
	stroke: #00000000
}

.main li .container-stat p {
	margin: 0;
	padding-top: .2em
}

.main li .container-download p {
	font-size: 1.1em;
	font-weight: bold
}

.main li .container-download {
	display: flex;
	border-radius: .4em;
	float: left
}
